# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
staticfiles/
media/

# Environments
.env
env/
venv/

# Django secret files
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node (if frontend exists)
node_modules/
build/
dist/

# Testing
coverage/